:root {
     
    --primary-color: rgb(1, 31, 43);
      --color-white: #fff;
      background-color: rgba(227, 240, 244, 0.6);
      background-position-x: fixed;
    

  }
  
  
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    font-size: 1.3rem;
    min-height: 100vh;
    line-height: 1.6;
  }
  
  /* utility  */
  .container {
    padding: 0 5%;
  }
  
  a {
    color: var(--color-white);
    text-decoration: none;
  }
  
  p {
    color: var(--color-black);
  }
  
  .mb {
    margin-bottom: 4rem;
  }
  
  .heading-primary {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }
  
  .heading-secondary {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
  }
  
  .heading-tertiary {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: .5rem;
  }
  
  /* header  */
  header {
    height: 10vh;
    display: flex;
  }
  
  .main-nav {
    width: 100%;
    background-color: var(--primary-color);
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .main-nav ul,
  .sub-nav ul {
    list-style: none;
    display: flex;
  }
  
  .main-nav ul li a {
    text-transform: capitalize;
    padding-right: 2rem;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .sub-nav {
    width: 30%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .sub-nav ul li a {
    color: var(--primary-color);
    padding-left: 1.5rem;
  }
  
  /* hero  */
  .hero {
    height: calc(100vh - 10vh);
    display: flex;
    justify-content: space-between;
  }
  
  .content {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 1rem;
  }
  
  @media(max-width:950px) {
    .hero-img,
    .sub-nav {
      display: none;
    }
  
    .content {
      flex: 0 0 100%;
    }
  
    .main-nav {
      width: 100%;
    }
  
    .contact-form form {
      width: 100%;
    }
  
    .contact-form .row {
      flex-direction: column;
    }
  
    .contact-form .input100,
    .contact-form .input50 {
      width: 100%;
    }
  }
  